@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
/* font-family: 'Poppins', sans-serif; */

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

h3 {
    text-align: center;
    font-size: 280%;
}

.sessao-um {
    margin-top: 20px;
    width: 100%;
    display: flex;
    height: 22%;
    justify-content: center;
}

.rede-social a{
    text-decoration: none;
}

.rede-social img{
    width: 45px;
    height: 45px;
    margin: 8px;
    border-radius: 10px;
}

#eu {
    margin: 2% 5% 2% 5%;
    height: auto;
}

.sobre-mim, .mensagem, .rede-social{
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 58px;  
    border-radius: 40px;
    border: solid 1px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

.sessao-dois{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.mensagem{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 58px;  
    border-radius: 40px;
    border: solid 1px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

.mensagem a {
    text-decoration: none;
    color: #000000;
}

nav{
    margin-top: 50px;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 125px;
}

.feed, .certificate, .technology {
    margin-top: 20px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.project {
    width: 480px;
    height: 265px;
    border: solid 1px;
    border-radius: 2px;
    margin: 30px 30px 10px 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.project_description {
    justify-content: center;
    display: table-column;
    text-align: center;
}

.degree {
    width: 350px;
    height: 265px;
    border: solid 1px;
    border-radius: 2px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.tech {
    width: 300px;
    height: 300px;
    border: solid 1px #787878;
    border-radius: 2px;
    margin: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.badge{
    display: flex;
}

.degree img {
    width: 100%;
}

 #degree1 {
    background-image: url(images/certificates/curso_sql.jpg);
    background-size: cover;
    background-repeat: no-repeat;
} 

#degree2 {
    background-image: url(images/certificates/curso_linux.jpg);
    background-size: cover;
    background-repeat: no-repeat;
} 

#degree3 {
    background-image: url(images/certificates/curso_docker.jpg);
    background-size: cover;
    background-repeat: no-repeat;
} 

#degree4 {
    background-image: url(images/certificates/curso_agil.jpg);
    background-size: cover;
    background-repeat: no-repeat;
} 

#degree5 {
    background-image: url(images/certificates/certificado-big-data.jpg);
    background-size: cover;
    background-repeat: no-repeat;
} 

#degree6 {
    background-image: url(images/certificates/curso_git.jpg);
    background-size: cover;
    background-repeat: no-repeat;
} 

#degree7 {
    background-image: url(images/certificates/aws-cloud-quest-cloud-practitioner.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 265px;
    border: none;
}

#degree8 {
    background-image: url(images/certificates/aws-partner-accreditation-technical.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 265px;
    border: none;
}

#degree9 {
    background-image: url(images/certificates/aws-partner-cloud-economics-accreditation.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 265px;
    border: none;
}

#degree10 {
    background-image: url(images/certificates/aws-partner-sales-accreditation-business.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 265px;
    border: none;
}